#contact-info {
	font-size: .8em;
}

.job{ 
	background-color: #e9e5dc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
}

.accomplishments {
	font-size: .8em;
}

section#volunteer-experience:last-of-type {
	background: #e9e5ff;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
}

ul>li {
	list-style-type: disc; 
} 